{
  "openapi": "3.1.0",
  "info": {
    "title": "Cartevo API",
    "description": "Endpoints essentiels pour portefeuilles, transactions, clients et conversion.",
    "version": "1.0.0"
  },
  "servers": [{ "url": "https://api.cartevo.co/api/v1" }],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/wallets": {
      "get": {
        "summary": "Lister les portefeuilles",
        "responses": { "200": { "description": "OK" } }
      },
      "post": {
        "summary": "Créer un portefeuille",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "currency": { "type": "string" },
                  "country_iso_code": { "type": "string" }
                },
                "required": ["currency", "country_iso_code"]
              }
            }
          }
        },
        "responses": { "201": { "description": "Créé" } }
      }
    },
    "/wallets/{id}": {
      "get": {
        "summary": "Détail d’un portefeuille",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/wallets/fund": {
      "post": {
        "summary": "Alimentation locale",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": { "type": "string" },
                  "walletId": { "type": "string" },
                  "amount": { "type": "number" },
                  "phone": { "type": "string" },
                  "operator": { "type": "string" },
                  "currency": { "type": "string" }
                },
                "required": [
                  "userId",
                  "walletId",
                  "amount",
                  "phone",
                  "operator",
                  "currency"
                ]
              }
            }
          }
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/wallets/deposit": {
      "post": {
        "summary": "Dépôt avec change",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sourceWallet": { "type": "object" },
                  "destinationWallet": { "type": "object" },
                  "exchangeRate": { "type": "object" }
                },
                "required": [
                  "sourceWallet",
                  "destinationWallet",
                  "exchangeRate"
                ]
              }
            }
          }
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/wallets/transfer-between": {
      "post": {
        "summary": "Transfert entre portefeuilles",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sourceWalletId": { "type": "string" },
                  "destinationWalletId": { "type": "string" },
                  "amount": { "type": "number" },
                  "currency": { "type": "string" }
                },
                "required": [
                  "sourceWalletId",
                  "destinationWalletId",
                  "amount",
                  "currency"
                ]
              }
            }
          }
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/wallet/transactions": {
      "get": {
        "summary": "Lister les transactions",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["SUCCESS", "PENDING", "FAILED"]
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["FUND", "DEPOSIT", "TRANSFER", "COLLECTION"]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 100 }
          }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/wallet/transactions/wallet/{walletId}": {
      "get": {
        "summary": "Transactions par portefeuille",
        "parameters": [
          {
            "name": "walletId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/wallet/transactions/{id}": {
      "get": {
        "summary": "Détail d’une transaction",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/customers": {
      "get": {
        "summary": "Lister les clients",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": { "200": { "description": "OK" } }
      },
      "post": {
        "summary": "Créer un client",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": { "type": "string" },
                  "last_name": { "type": "string" },
                  "email": { "type": "string" },
                  "phone_number": { "type": "string" },
                  "country_iso_code": { "type": "string" }
                },
                "required": [
                  "first_name",
                  "last_name",
                  "email",
                  "phone_number",
                  "country_iso_code"
                ]
              }
            }
          }
        },
        "responses": { "201": { "description": "Créé" } }
      }
    },
    "/customers/{id}": {
      "get": {
        "summary": "Détail client",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/customers/{id}/transactions": {
      "get": {
        "summary": "Transactions d’un client",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/company/exchange-rates/convert": {
      "post": {
        "summary": "Conversion de montant",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fromCurrency": { "type": "string" },
                  "toCurrency": { "type": "string" },
                  "amount": { "type": "number" }
                },
                "required": ["fromCurrency", "toCurrency", "amount"]
              }
            }
          }
        },
        "responses": { "200": { "description": "OK" } }
      }
    }
  },
  "components": {
    "securitySchemes": { "bearerAuth": { "type": "http", "scheme": "bearer" } }
  }
}
