{
  "openapi": "3.1.0",
  "info": {
    "title": "Cartevo API",
    "description": "Essential endpoints for wallets, transactions, customers and conversion.",
    "version": "1.0.0"
  },
  "servers": [{ "url": "https://api.cartevo.co/api/v1" }],
  "security": [{ "bearerAuth": [] }],
  "paths": {
    "/cards": {
      "get": {
        "summary": "List cards",
        "responses": { "200": { "description": "OK" } }
      },
      "post": {
        "summary": "Create a card",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "customer_id": { "type": "string" },
                  "currency": { "type": "string" },
                  "brand": { "type": "string", "enum": ["VISA", "MASTERCARD"] },
                  "name_on_card": { "type": "string" }
                },
                "required": ["customer_id", "currency", "brand", "name_on_card"]
              }
            }
          }
        },
        "responses": { "201": { "description": "Created" } }
      }
    },
    "/cards/{id}": {
      "get": {
        "summary": "Card details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/cards/{id}/freeze": {
      "put": {
        "summary": "Freeze a card",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/cards/{id}/unfreeze": {
      "put": {
        "summary": "Unfreeze a card",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/cards/{id}/fund": {
      "post": {
        "summary": "Fund a card",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "wallet_id": { "type": "string" },
                  "amount": { "type": "number" },
                  "reason": { "type": "string" }
                },
                "required": ["wallet_id", "amount"]
              }
            }
          }
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/cards/{id}/withdraw": {
      "post": {
        "summary": "Withdraw from a card",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "wallet_id": { "type": "string" },
                  "amount": { "type": "number" },
                  "reason": { "type": "string" }
                },
                "required": ["wallet_id", "amount"]
              }
            }
          }
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/cards/{id}/transactions": {
      "get": {
        "summary": "Card transactions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/wallets": {
      "get": {
        "summary": "List wallets",
        "responses": { "200": { "description": "OK" } }
      },
      "post": {
        "summary": "Create a wallet",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "currency": { "type": "string" },
                  "country_iso_code": { "type": "string" }
                },
                "required": ["currency", "country_iso_code"]
              }
            }
          }
        },
        "responses": { "201": { "description": "Created" } }
      }
    },
    "/wallets/{id}": {
      "get": {
        "summary": "Wallet details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/wallets/fund": {
      "post": {
        "summary": "Local funding",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "userId": { "type": "string" },
                  "walletId": { "type": "string" },
                  "amount": { "type": "number" },
                  "phone": { "type": "string" },
                  "operator": { "type": "string" },
                  "currency": { "type": "string" }
                },
                "required": [
                  "userId",
                  "walletId",
                  "amount",
                  "phone",
                  "operator",
                  "currency"
                ]
              }
            }
          }
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/wallets/deposit": {
      "post": {
        "summary": "Deposit with exchange",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sourceWallet": { "type": "object" },
                  "destinationWallet": { "type": "object" },
                  "exchangeRate": { "type": "object" }
                },
                "required": [
                  "sourceWallet",
                  "destinationWallet",
                  "exchangeRate"
                ]
              }
            }
          }
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/wallets/transfer-between": {
      "post": {
        "summary": "Transfer between wallets",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "sourceWalletId": { "type": "string" },
                  "destinationWalletId": { "type": "string" },
                  "amount": { "type": "number" },
                  "currency": { "type": "string" }
                },
                "required": [
                  "sourceWalletId",
                  "destinationWalletId",
                  "amount",
                  "currency"
                ]
              }
            }
          }
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/wallets/{id}/transfer-internal": {
      "post": {
        "summary": "Internal transfer (PAYIN ⇄ PAYOUT)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount": { "type": "number" },
                  "direction": {
                    "type": "string",
                    "enum": ["PAYIN_TO_PAYOUT", "PAYOUT_TO_PAYIN"]
                  },
                  "reason": { "type": "string" }
                },
                "required": ["amount", "direction"]
              }
            }
          }
        },
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/wallet/transactions": {
      "get": {
        "summary": "List transactions",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["SUCCESS", "PENDING", "FAILED"]
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": ["FUND", "DEPOSIT", "TRANSFER", "COLLECTION"]
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1 }
          },
          {
            "name": "limit",
            "in": "query",
            "schema": { "type": "integer", "minimum": 1, "maximum": 100 }
          }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/wallet/transactions/wallet/{walletId}": {
      "get": {
        "summary": "Transactions by wallet",
        "parameters": [
          {
            "name": "walletId",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/wallet/transactions/{id}": {
      "get": {
        "summary": "Transaction details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/customers": {
      "get": {
        "summary": "List customers",
        "parameters": [
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": { "200": { "description": "OK" } }
      },
      "post": {
        "summary": "Create a customer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": { "type": "string" },
                  "last_name": { "type": "string" },
                  "email": { "type": "string" },
                  "phone_number": { "type": "string" },
                  "country_iso_code": { "type": "string" }
                },
                "required": [
                  "first_name",
                  "last_name",
                  "email",
                  "phone_number",
                  "country_iso_code"
                ]
              }
            }
          }
        },
        "responses": { "201": { "description": "Created" } }
      }
    },
    "/customers/create": {
      "post": {
        "summary": "Create a customer",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "first_name": { "type": "string" },
                  "last_name": { "type": "string" },
                  "email": { "type": "string" },
                  "phone_number": { "type": "string" },
                  "country_iso_code": { "type": "string" }
                },
                "required": [
                  "first_name",
                  "last_name",
                  "email",
                  "phone_number",
                  "country_iso_code"
                ]
              }
            }
          }
        },
        "responses": { "201": { "description": "Created" } }
      }
    },

    "/customers/{id}": {
      "get": {
        "summary": "Customer details",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/customers/{id}/transactions": {
      "get": {
        "summary": "Customer transactions",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" }
          },
          { "name": "page", "in": "query", "schema": { "type": "integer" } },
          { "name": "limit", "in": "query", "schema": { "type": "integer" } }
        ],
        "responses": { "200": { "description": "OK" } }
      }
    },
    "/company/exchange-rates/convert": {
      "post": {
        "summary": "Amount conversion",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "fromCurrency": { "type": "string" },
                  "toCurrency": { "type": "string" },
                  "amount": { "type": "number" }
                },
                "required": ["fromCurrency", "toCurrency", "amount"]
              }
            }
          }
        },
        "responses": { "200": { "description": "OK" } }
      }
    }
  },
  "components": {
    "securitySchemes": { "bearerAuth": { "type": "http", "scheme": "bearer" } }
  }
}
